@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,500,500i,700,700i&display=swap');

.ticket {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	width: 400px;
	max-width: 400px;

	font-family: 'Roboto Mono';
	font-size: 14px;

	border: 1px solid #000;

	padding: 50px;

	.people {
		display: flex;

		margin-bottom: 25px;

		.sender,
		.recipient {
			width: 50%;

			&.sender {
				padding-right: 10px;
			}

			&.recipient {
				padding-left: 10px;
			}

			.title {
				font-weight: bold;
				text-transform: uppercase;

				margin-bottom: 10px;
			}

			.name {
				font-size: 14px;
				font-weight: 500;
				line-height: 16px;

				margin-bottom: 15px;
			}

			.address {
				color: rgba(0, 0, 0, 0.82);
					
				font-size: 12px;
				font-weight: 500;
				line-height: 14px;
			}
		}
	}

	.products {
		width: 100%;

		border: 1px solid #000;
		border-collapse: collapse;

		thead {
			td {
				font-weight: 500;
				border: 1px solid #000;
				padding: 6px 10px;

				&.products {
					width: 80%;
				}
			}
		}

		tbody {
			tr {
				td {
					font-weight: 400;
					border: 1px solid #000;
					padding: 6px 10px;
				}
			}
		}
	}

	.lead {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-top: 25px;

		p {
			max-width: 80%;
			
			font-size: 14px;
			font-weight: 500;
			font-style: italic;
			line-height: 16px;
			text-align: center;

			margin: 0;
		}
	}
}